body {
  font-family: Helvetica;
  text-align: center;
}

.header {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

#nav {
  background-image: url("../../resources/images/background.png");
}

.navlist {
  text-align: center;
  color: White;
  font-size: 18px
}

.processheading {
  font-size: 32px;
  font-weight: bold;
}

.sectiontitle {
  font-size: 23px;
}

.sectiontext {
  font-size: 14px;
}

#newyork {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("../../resources/images/background.png");
}

#copyright {
  background-color: dimgray;
  text-align: left;
  color: White;
}

.copy {
  font-size: 11px;
}
